name: Deploy Python package to test PyPI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  test_deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Build package
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        python -m build
    - name: Publish package
      # if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PyGitR_GITHUB_ACTIONS }}
        repository_url: https://test.pypi.org/legacy/
        verbose: true
        verify_metadata: false